.pagination {
  margin-top: 14px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.page-info {
  font-size: 14px;
  color: #4b5563;
}

.btn {
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background: white;
  font-size: 14px;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.5;
}
